
<ion-header no-border>

  <ion-navbar color='navbar'>

    <ion-title color="primary">
      Dashboard
    </ion-title>

    <ion-buttons end class="profile">
      <!--<button ion-button icon-only (click)="presentPopover($event)">-->
      <button ion-button icon-only (click)="openProfileModal()">
        <ion-icon>
          <img *ngIf="!profile.profileImage" class="profile-image" src="../../assets/icon/profile_image_placeholder.svg">
          <img *ngIf="profile.profileImage" class="profile-image" src="{{profile.profileImage}}">
        </ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>


<ion-content class="page">

  <div align="center" class="top">
    <ion-avatar class="large-profile" (click)="navigateToEditProfile()">
      <img class="large-image" *ngIf="!profile.profileImage" src="../../assets/icon/profile_image_placeholder.svg">
      <img class="large-image" *ngIf="profile.profileImage" src="{{ profile.profileImage }}">
    </ion-avatar>
    <h2>Brice Allard</h2>
    <p>
      <ion-icon name="locate" item-start color="primary"></ion-icon>
      Wichita Falls,  USA
    </p>
  </div>

  <ion-list class="menu">

    <ion-list-header left id="header">
      Notifications
    </ion-list-header>
    <ion-item (click)='friendRequestsClicked()'>
      Friend Requests
      <ion-badge color="primary" id="badge">{{friendCount}}</ion-badge>      
    </ion-item>
    <ion-item>
      Messages
      <ion-badge color="primary" id="badge">5</ion-badge>
    </ion-item>
    <ion-item>
      Nearby Friends
      <ion-badge color="primary" id="badge">32</ion-badge>
    </ion-item>

    <ion-list-header left id="header">
      Images
    </ion-list-header>
    <ion-item (click)="publicPhotosClicked()">
      Public Photos
      <ion-badge color="primary" id="badge">162</ion-badge>
    </ion-item>
    <ion-item>
      Private Photos
      <ion-badge color="primary" id="badge">98</ion-badge>
    </ion-item>

  </ion-list>

</ion-content>
