.ios {

  page-home {

    .profile img {
      float: right;
      height: 35px;
      width: 35px;
      margin-right: 5px;
      background: transparent;
    }

    .profileImage {
      border: 2px solid #0054FE;
      border-radius: 50%;
    }

    #map_canvas {
      height: 100%;
    }

    ion-fab {
      margin-right: 15px;
      margin-bottom: 60px;
    }
  }
}

.md {
  page-home {

    .profile img {
      float: right;
      height: 40px;
      width: 40px;
      margin-right: 5px;
      background: transparent;
    }

    .profileImage {
      border: 2px solid #0054FE;
      border-radius: 50%;
    }

    .map {
      height: 0%;
    }

    #map_canvas {
      height: 100%;
    }

    ion-fab {
      margin-right: 15px;
      margin-bottom: 60px;
    }
  }
}
