page-images {
    .profileButtons {
        position: absolute;
        width: 100%;
      }
      
      #take {
        font-size: .9em;
        width: auto;
        max-width: 50%;
      }
    
      #get {
        font-size: .9em;
        width: auto;
        max-width: 50%;
      }
}
