<ion-header>

  <ion-navbar>
    <ion-title>ImagesPage</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-segment [(ngModel)]="galleryType">
    <ion-segment-button value="view">
      View Images
    </ion-segment-button>
    <ion-segment-button value="upload">
      Upload Image
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="galleryType">

    <ion-grid *ngSwitchCase="'view'">
      <ion-row>
        <ion-col col-6 col-md-4 col-xl-3 *ngFor="let image of images">
          <img src="{{ image.image }}" class="image">
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="takeImage" *ngSwitchCase="'upload'">
      <div *ngIf="!imageHolder" class="image-container">
        <a>
          <img *ngIf="!imageHolder" src="https://via.placeholder.com/400x500">
          <img *ngIf="imageHolder" src="{{ imageHolder }}">
        </a>
      </div>

      
      <div class="profileButtons" align="center">
        <button ion-button outline round icon-start (click)="getImageFromCamera()" class="button" id="take">
          <ion-icon name="camera"></ion-icon>
          Take Picture
        </button>
        <button ion-button outline round icon-start (click)="getImageFromGallery()" class="button" id="get">
          <ion-icon name="image"></ion-icon>
          Edit Picture
        </button>
      </div>
      
      <div class="save" align="center">
        <button ion-button round (click)="saveButtonClicked()" class="button">
          Upload
        </button>
      </div>

    </div>

  </div>

</ion-content>
