page-friend-search {

    .users ion-avatar {
        margin-right: 15px;
        float: left;
        height: 50px;

        img {
            margin-top: 2px;
            height: 50px;
            width: 50px;
        }
    }

    .users h2 {
        display: inline-block;
    }

    .users button {
        width: 70px;
    }

}
